<<<<<<< HEAD
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
=======
>>>>>>> c4d1c44b0746a7387dc28bd3111400a167bda2d9
    {{ form_widget(form) }}
    <button class="btn btn-primary mt-3">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
