<form method="post" action="{{ path('app_admin_charity_delete', {'id': charity.id}) }}" onsubmit="return confirm('Supprimer cette charity ?');" class="d-inline-block">
    <input type="hidden" name="_token" value="{{ csrf_token('delete-charity-' ~ charity.id) }}">
    <button class="btn btn-sm btn-outline-danger">Supprimer</button>
</form>
