{% extends 'base.html.twig' %}

{% block title %}Éditer Type de Don{% endblock %}

{% block body %}
    <div class="bo-page-header">
        <h1><i class="fas fa-edit"></i> Modifier type de don</h1>
        <div class="bo-actions">
            <a href="{{ path('app_type_don_index') }}" class="btn btn-outline-secondary"><i class="fas fa-arrow-left me-1"></i>Retour</a>
        </div>
    </div>

    <div class="bo-table-card p-3">
        {{ include('type_don/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    </div>
{% endblock %}
