<form method="post" action="{{ path('app_forum_reponse_delete', {'id': forum_reponse.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ forum_reponse.id) }}">
    <button class="btn btn-danger btn-sm">Supprimer</button>
</form>
